@media only screen and (max-width: 600px) {
  div {
      width: 100%;
  }
}

.registration-form {
  display: inline-block;
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: 1px solid black;
  border-radius: 15px;
  height: 30px;
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
  width: 250px;
  text-align: center;
  background-color: #230040;
  color: white
}

label {
  font-size: 22px;
  display: block;
}

