@media only screen and (max-width: 600px) {
  div {
      width: 100%;
  }
}

.registration-form {
  display: inline-block;
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

input {
  border: 1px solid black;
  border-radius: 3px;
  height: 24px;
  margin: 5px;
  font-size: 18px;
  text-align: left;
  align-self: stretch;
  width: 100%;
}

