@media only screen and (max-width: 600px) {
  .track-form {
      width: 100%;
  }
}

.track-form {
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  display: inline-block;
}


